@use "../mixins/mixins.scss";

.my-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 40px;
    border-radius: 20px;
    padding: 0 12px;
    gap: 0 8px;
    // background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-primary);
}
.my-button__icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    + .my-button__label {
        margin-right: 4px;
    }
}
.my-button__label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.typescale-label-large();
}

// elevated
// filled
// tonal
// outlined
// text

.my-button--elevated {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);
    padding: 0 24px;
    .my-button__icon {
        margin-left: -8px;
        + .my-button__label {
            margin-right: 0;
        }
    }
}

.my-button--filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    box-shadow: var(--md-sys-elevation-level0);
    padding: 0 24px;
    .my-button__icon {
        margin-left: -8px;
        + .my-button__label {
            margin-right: 0;
        }
    }
}

.my-button--tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    box-shadow: var(--md-sys-elevation-level0);
    padding: 0 24px;
    .my-button__icon {
        margin-left: -8px;
        + .my-button__label {
            margin-right: 0;
        }
    }
}

.my-button--outlined {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-primary);
    box-shadow: 0 0 0 1px var(--md-sys-color-outline);
    padding: 0 24px;
    .my-button__icon {
        margin-left: -8px;
        + .my-button__label {
            margin-right: 0;
        }
    }
}

.my-button--text {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-primary);
    box-shadow: none;
    padding: 0 12px;
    .my-button__icon {
        margin-left: 0px;
        + .my-button__label {
            margin-right: 4px;
        }
    }
}
