@use "../mixins/mixins.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    overflow: auto;
    font-family: var(--md-sys-typescale-body-large-font);
    font-weight: var(--md-sys-typescale-body-large-weight);
    font-size: var(--md-sys-typescale-body-large-size);
    letter-spacing: var(--md-sys-typescale-body-large-tracking);
    line-height: var(--md-sys-typescale-body-large-line-height);
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

.md-border {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "north north north"
        "west center east"
        "south south south";
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.md-border__item--north,
.md-border__item--east,
.md-border__item--south,
.md-border__item--west,
.md-border__item--center {
    overflow: auto;
}

.md-border__item--north {
    grid-area: north;
}
.md-border__item--east {
    grid-area: east;
}
.md-border__item--south {
    grid-area: south;
}
.md-border__item--west {
    grid-area: west;
}
.md-border__item--center {
    grid-area: center;
}

@include mixins.breakpoint-compact() {
    .md-grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 8px;
    }

    @for $i from 1 through 4 {
        .md-grid__item--compact#{$i} {
            grid-column-end: span $i;
        }
    }
}
@include mixins.breakpoint-medium() {
    .md-grid {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 16px;
    }

    @for $i from 1 through 8 {
        .md-grid__item--medium#{$i} {
            grid-column-end: span $i;
        }
    }
}
@include mixins.breakpoint-expanded() {
    .md-grid {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-gap: 24px;
    }

    @for $i from 1 through 12 {
        .md-grid__item--expanded#{$i} {
            grid-column-end: span $i;
        }
    }
}
